<h2 style="margin-bottom: 6px;">Alle Werke</h2>
<center><p style="font-size: 0.7em;">Zum vergrößern auf die Werke klicken</p></center>
<table class="table">
	<tbody>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild29"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild29_klein.png" /></a></center><br /><p align="center">Lake Los Carneros, Santa Barbara</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild43"><%= image_tag "kuhherde.png", style: 'width:250px;' %></a></center><br /><p align="center">Kuhherde, Föhr</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild22"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk22_klein.png" /></a></center><br /><p align="center">Bl&uuml;tenmeer</p></td>
		</tr>
		<tr>
      <td style="border-top: none;"><center><a href="/pages/bild51"><%= image_tag "schaafundlamm.png", style: 'width:250px;' %></a></center><br /><p align="center">Schaf & Lamm, Föhr</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild9"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk9_klein.png" /></a></center><br /><p align="center">Im tiefen Winter</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild36"><%= image_tag "roteskliff.png", style: 'width:250px;' %></a></center><br /><p align="center">Rotes Kliff, Sylt</p></td>
		</tr>
    <tr>
      <td style="border-top: none;"><center><a href="/pages/bild50"><%= image_tag "schafspaar.png", style: 'width:250px;' %></a></center><br /><p align="center">Schafspaar, Föhr</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild45"><%= image_tag "lakeloscarnerospark2.png", style: 'width:250px;' %></a></center><br /><p align="center">Park Lake Los Carneros, Goleta</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild38"><%= image_tag "fluegelspiel.png", style: 'width:250px;' %></a></center><br /><p align="center">Flügelspiel</p></td>
    </tr>
		<tr>
      <td style="border-top: none;"><center><a href="/pages/bild46"><%= image_tag "luiundleyla.png", style: 'width:250px;' %></a></center><br /><p align="center">Lui & Leyla</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild1"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk1_klein.jpg" /></a></center><br /><p align="center">Friesenhaus mit Garten</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild42"><%= image_tag "kueheindermarsch.png", style: 'width:250px;' %></a></center><br /><p align="center">Kühe in der Marsch, Föhr</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild25"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk25_klein.png" /></a></center><br /><p align="center">Valerie an der Buhne 16</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild6"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk6_klein.jpg" /></a></center><br /><p align="center">Labrador Lui am Strand</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild19"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk19_klein.png" /></a></center><br /><p align="center">Die Ruhe am Strand</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild16"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk16_klein.png" /></a></center><br /><p align="center">Abendstimmung</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild17"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk17_klein.png" /></a></center><br /><p align="center">Vater und Sohn</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild13"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk13_klein.png" /></a></center><br /><p align="center">Phillip in den D&uuml;nen</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild10"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk10_klein.png" /></a></center><br /><p align="center">Segelschiff vor Dragonera</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild2"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk2_klein.jpg" /></a></center><br /><p align="center">Michelle am Strand</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild12"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk12_klein.png" /></a></center><br /><p align="center">Gemeinsames Lesen</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild23"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk23_klein.png" /></a></center><br /><p align="center">Labrador Lui auf den Katzenk&ouml;pfen</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild20"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk20_klein.png" /></a></center><br /><p align="center">Hinteransicht</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild11"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk11_klein.png" /></a></center><br /><p align="center">Koch (Studienarbeit)</p></td>
		</tr>
		<tr>
      <td style="border-top: none;"><center><a href="/pages/bild35"><%= image_tag "blickaufsmeer.png", style: 'width:250px;' %></a></center><br /><p align="center">Blick auf's Wattenmeer, Föhr</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild24"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk24_klein.png" /></a></center><br /><p align="center">Im bl&uuml;henden Garten</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild27"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild27_klein.png" /></a></center><br /><p align="center">Shoreline, Santa Barbara</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild30"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild30_klein.png" /></a></center><br /><p align="center">Mohnblumen</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild4"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk4_klein.png" /></a></center><br /><p align="center">Spaziergang am Sylter Strand</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild3"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk3_klein.jpg" /></a></center><br /><p align="center">Abendstimmung Sylter Kliff</p></td>
		</tr>
		<tr>
			<td style="border-top: none;"><center><a href="/pages/bild26"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk26_klein.png" /></a></center><br /><p align="center">Kaminstimmung</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild7"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk7_klein.png" /></a></center><br /><p align="center">Haus in Blankenese, Hamburg</p></td>
			<td style="border-top: none;"><center><a href="/pages/bild31"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild31_klein.png" /></a></center><br /><p align="center">Wattenmeer</p></td>
		</tr>
    <tr>
      <td style="border-top: none;"><center><a href="/pages/bild28"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild28_klein.png" /></a></center><br /><p align="center">Covington Way, Santa Barbara</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild5"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk5_klein.png" /></a></center><br /><p align="center">Kater Toni</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild37"><%= image_tag "duenenlandschaft.png", style: 'width:250px;' %></a></center><br /><p align="center">Dünenlandschaft, Sylt</p></td>
    </tr>
    <tr>
      <td style="border-top: none;"><center><a href="/pages/bild18"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk18_klein.png" /></a></center><br /><p align="center">Haus in Wrixum</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild39"><%= image_tag "friesenhausoevenum.png", style: 'width:250px;' %></a></center><br /><p align="center">Friesenhaus, Oevenum</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild40"><%= image_tag "goletaca.png", style: 'width:250px;' %></a></center><br /><p align="center">Blick aus der Natur, Goleta</p></td>
    </tr>
    <tr>
      <td style="border-top: none;"><center><a href="/pages/bild52"><%= image_tag "zweikaninchen.png", style: 'width:250px;' %></a></center><br /><p align="center">Zwei Kaninchen, Föhr</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild15"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk15_klein.png" /></a></center><br /><p align="center">Stilleben mit Blumenstrau&szlig;</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild21"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk21_klein.png" /></a></center><br /><p align="center">Innenhof mit Kindern</p></td>
    </tr>
    <tr>
      <td style="border-top: none;"><center><a href="/pages/bild47"><%= image_tag "surferinsb.png", style: 'width:250px;' %></a></center><br /><p align="center">Surfer in Santa Barbara</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild48"><%= image_tag "nebeligesmeersb.png", style: 'width:250px;' %></a></center><br /><p align="center">Nebeliges Meer, Santa Barbara</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild49"><%= image_tag "schafeindermarsch.png", style: 'width:250px;' %></a></center><br /><p align="center">Schafe in der Marsch, Föhr</p></td>
    </tr>
    <tr>
      <td style="border-top: none;"><center><a href="/pages/bild41"><%= image_tag "kochkuenste.png", style: 'width:250px;' %></a></center><br /><p align="center">Kochkünste</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild44"><%= image_tag "lakeloscarnerospark.png", style: 'width:250px;' %></a></center><br /><p align="center">Park Lake Los Carneros, Goleta</p></td>
      <td style="border-top: none;"><center><a href="/pages/bild8"><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk8_klein.png" /></a></center><br /><p align="center">Morgenstimmung</p></td>
    </tr>
	</tbody>
</table>