<script type="text/javascript">
$(function(){
       $('.carousel').carousel({
    interval: 200000
    })
});
</script>

    <div id="myCarousel" class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk17.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk14.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk21.png"></center></div>
    <div class="item"><center><%= image_tag "kueheindermarsch.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk8.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild27.png"></center></div>
    <div class="item"><center><%= image_tag "schafspaar.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild33.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk10.png"></center></div>
    <div class="item"><center><%= image_tag "duenenlandschaft.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk4.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk11.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild34.png"></center></div>
    <div class="item"><center><%= image_tag "luiundleyla.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk19.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild29.png"></center></div>
    <div class="item"><center><%= image_tag "roteskliff.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk6_carousel.jpg"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk24.png"></center></div>
    <div class="item"><center><%= image_tag "lakeloscarnerospark2.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk13.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk9_carousel.png"></center></div>
    <div class="item"><center><%= image_tag "lakeloscarnerospark1.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk18.png"></center></div>
    <div class="item"><center><%= image_tag "nebeligesmeersb.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk23.png"></center></div>
    <div class="item"><center><%= image_tag "friesenhausoevenum.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild30.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk15.png"></center></div>
    <div class="item"><center><%= image_tag "goletaca.png.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild32.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk12.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild28.png"></center></div>
    <div class="item"><center><%= image_tag "fluegelspiel.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk20.png"></center></div>
    <div class="item"><center><%= image_tag "kochkuenste.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk2.png"></center></div>
    <div class="item"><center><%= image_tag "kuhherde.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk7.png"></center></div>
    <div class="item"><center><%= image_tag "schafeindermarsch.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild34.png"></center></div>
    <div class="item"><center><%= image_tag "schaafundlamm.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk22.png"></center></div>
    <div class="item"><center><%= image_tag "surferinsb.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/bild31.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk16.png"></center></div>
    <div class="item"><center><%= image_tag "blickaufsmeer.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk25.png"></center></div>
    <div class="item"><center><%= image_tag "zweikaninchen.png", style: 'width:740px;' %></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk1.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk26_carousel.png"></center></div>
    <div class="item"><center><img src="https://s3-eu-west-1.amazonaws.com/irisrose/werk5.png"></center></div>
    </div>
    <!-- Carousel nav -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>